/* Estilos comunes */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #c5c5c5;
    color: #333;
    padding: 20px;
    text-align: center;
}

#logo {
    width: 20%;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(64, 64, 64);
    text-decoration: underline
}

footer {
    background-color: #c5c5c5;
    color: white;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 100%;
    bottom:2;
}

.social-icons {
    display: inline;
    flex-direction: row; 
    align-items: center; 
}
footer img {
    width: 2%; 
    height: 2%; 
    margin: 5px 0; 
}



main {
    padding: 20px;
}

.container {
    display: flex; /* Usamos flex para alinear la sidebar y el contenido */
}


.sidebar {
    width: 250px; /* Ajusta el ancho de la sidebar */
    background-color: f4f4f4;
    padding: 8px;
    position: fixed; /* Mantiene la sidebar fija en la pantalla */
    height: 100vh; /* Altura completa de la ventana */
}

.content {
    background-color: white;
    margin-left: 270px; /* Deja espacio para la sidebar */
    padding: 20px; /* Espaciado en el contenido */
    flex-grow: 1; /* Permite que el contenido use el espacio restante */
}