/* Estilos comunes */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
    text-align: center;
    background-image: url("images/robe.png");
    background-size: cover; /* Escala la imagen para cubrir todo el área disponible */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* La imagen se mantiene fija al hacer scroll */
}

#logo{
    width: 20%;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

header h1{
    color: rgba(255, 255, 255, 0.907);
}

nav ul li a {
    font-size: large;
    color: rgba(255, 255, 255, 0.819);
    text-decoration: underline
}

footer {
    background-color: #3f3e3e;
    color: white;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 100%;
    bottom:2px;
}

.social-icons {
    display: inline;
    flex-direction: row; 
    align-items: center; 
}
footer img {
    width: 2%; 
    height: 2%; 
    margin: 2px; 
}

.container {
    background-color: #a9a9a987;
    display: flex; /* Alinear la sidebar y el contenido */
}

.sidebar {
    width: 200px;
    padding: 20px;
    padding-right: 0px;
    position: sticky; 
    top: 0; /* Se mantendrá pegada a la parte superior al hacer scroll */
    height: 100vh; /* Altura completa de la ventana */
}
.sidebar h2 {
    padding-left: 19px;
    margin-bottom: 10px; /* Espacio debajo del título */
    color: #fd1717eb;
}

.sidebar ul, .sidebar ol, .sidebar li a{
    color: #d11e1ecf;
    text-decoration: none;
}

.sidebar li{
    padding-left: 0px;
    padding: 5px;
    text-align: left;
}


.content {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: rgba(227, 227, 227, 0.577);
    margin-left: 100px; /* Deja espacio para la sidebar */
    margin-right: 200px;
    padding: 40px; 
    text-align: justify;
    box-shadow: 0 5px 8px rgba(41, 0, 0, 0.2); /* Sombra para un efecto de profundidad */

}

.imgContHist{
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.imgHist {
    padding-bottom: 15px;
    width: 500px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Hace que la imagen sea un bloque, permitiendo margen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.imgContHist figcaption{
    font-size: medium;
    font-weight: 70;
}


.content .infoDisco {
    display: flex; /* alinear imagen y texto en una fila */
    align-items: center; /* alinear vertical texto y foto */
    margin-bottom: 20px;
}

.infoDisco img {
    width: 400px; 
    height: 400px;
    margin-right: 20px; 
    border-radius: 4px;
}

.textoDisco p{
    text-align: justify;
}

.tablasDiscos h4 {
    margin-bottom: 5px; 
}


.content .tablasDiscos table {
    table-layout: fixed; /* Ancho de columna fijo */
    width: 100%;
    border-collapse: collapse; /* Sin espacio entre celdas*/
    text-align: left; 
    background-color: rgba(242, 242, 242, 0.711);

}

.tablasDiscos th, td {
    border: 1px solid #726666b8;
    padding: 8px;
    text-align: left;
}
.tablasDiscos td{
    color: rgb(23, 23, 23);
}


/* FORMULARIO */

form fieldset{
    border-radius: 10px;
}

legend {
    text-align: center; /* Centra el texto dentro del legend */
    font-weight: bold; /* Si quieres que el texto de la legend sea más destacado */
}

form .f_sect{
    margin-bottom: 50px;
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Estilos de los inputs, selects y textarea */
input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f7f7f793;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

select {
    appearance: none;
    background-color: #f7f7f793;
}

/* Estilos de los radio buttons */
.opciones-edad {
    display: flex;
    flex-direction: column;
}

.opciones-edad label {
    font-weight: normal;
}

/* Estilos para botones */


.telefono {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}

.telefono label{
    padding-right: 20px;
}
.grupo-form-checkbox {
    display: flex;
    flex-direction: column; /* Coloca los checkbox-item en columna */
    gap: 20px; /* Espacio entre cada checkbox-item */
    margin-bottom: 30px;
}

.checkbox-item {
    display: flex;
    align-items: center; /* Alinea verticalmente el checkbox y el label */
    gap: 10px;
}


.comprarEntradasBtn {
    display: inline-flex; /* Permite alinear el icono y el texto en línea */
    align-items: center; /* Alinea verticalmente el icono y el texto */
    background-color: #d11e1e; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado dentro del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 10px; /* Margen alrededor del botón */
    cursor: pointer;
}
.icono {
    width: 20px; /* Ajusta el tamaño del icono según lo necesites */
    height: 20px; /* Ajusta la altura del icono */
    margin-right: 8px; /* Espacio entre el icono y el texto */
}

.containterBoton{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}