/* Estilos comunes */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #c5c5c5;
    color: #333;
    padding: 20px;
    text-align: center;
}

#logo {
    width: 20%;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(64, 64, 64);
    text-decoration: underline
}

footer {
    background-color: #c5c5c5;
    color: white;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 100%;
    bottom:2;
}

.social-icons {
    display: inline;
    flex-direction: row; 
    align-items: center; 
}
footer img {
    width: 2%; 
    height: 2%; 
    margin: 5px 0; 
}



main {
    padding: 20px;
}

.container {
    display: flex; /* Usamos flex para alinear la sidebar y el contenido */
}

.sidebar {
    width: 400px;
    background-color: #f4f4f4; /* Añadido un # para el color */
    padding: 50px;
    position: sticky; /* Cambiado a sticky */
    top: 0; /* Se mantendrá pegada a la parte superior al hacer scroll */
    height: 100vh; /* Altura completa de la ventana */
    overflow-y: initial; /* Permite hacer scroll en la sidebar si es necesario */
}
.content {
    background-color: white;
    margin-left: 100px; /* Deja espacio para la sidebar */
    margin-right: 50px;
    padding: 40px; /* Espaciado en el contenido */
    text-align: justify;
}

.tablasDiscos h4 {
    margin-bottom: 5px; /* Reduce el espacio debajo de los h4 */
}

.tablasDiscos table {
    margin-top: 0; /* Elimina el espacio encima de las tablas */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}
